@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

/*---------BEGIN----------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.container{
    background-image: url(./IMG/background.png);
    height: 95vh;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Caveat', cursive;
    
}

/*--------HEADER---------*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s;
    height: 60px;
}



.icons i{
    color: #fff;
    font-weight: 600;
    margin-right: 20px;
    cursor: pointer;
}

header ul{
    display: flex;
    list-style: none;
    margin-left: 20px;
}

header ul a{
    text-decoration: none;
    cursor: default;
}



header ul li{
    margin: 10px;
    color: white;
    font-size: 13px;
    cursor: pointer;
}


header img{
    width: 50px;
    border-radius: 50%;
    
}

.logo{
    display: flex;
    color: white;
    margin-right: 100px;
    cursor: pointer;  
}

#bars{
    display: none;
}

/*--------------HOVER-----------------*/

header:hover{
    background-color: #1948c7;
}

header ul a:hover{
    text-decoration: underline;
    color: white;
}
.icons i:hover{
    transform: scale(1.2);
    transition: 1s;
}

.span:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.square:hover{
    transform: scale(1.03);
    cursor: pointer;
}


.span.pan:hover{
    background-image: url(./IMG/SAIA\ BRANCA2.jpg);
    transition: all 1s;
}



.span.panpan:hover{
    background-image: url(./IMG/VESTIDO\ ROSE2.jpg);
    transition: all 1s;
}

.square.section:hover{
    background-image: url(./IMG/JARDINEIRA2.jpg);
    transition: 1s;
}

.square.section1:hover{
    background-image: url(./IMG/SAIA\ PRETA2.jpg);
    transition: 1s;
}

.square.section2:hover{
    background-image: url(./IMG/SAIA\ CIREE2.jpg);
    transition: 1s;
}


.span button:hover{
    color: white;
    transform: scale(1.1);
    transition: all 0.5s;
    box-shadow: 0px 1px 10px #343b88;
    background-color: #1948c7;
    cursor: pointer;
}


.square button:hover{
    color: white;
    transition: all 0.5s;
    box-shadow: 0px 1px 10px #C45534;
    transform: scale(1.1);
    cursor: pointer;

}

.plus i:hover:nth-child(1){
    transform: scale(1.03);
    transition: 1s;
}

.plus i:hover:nth-child(2){
    transform: scale(1.03);
    transition: 1s;
}

.plus i:hover:nth-child(3){
    transform: scale(1.03);
    transition: 1s;
}

footer div ul a:hover{
    text-decoration: underline;
    color: white;
}

.hexa img:hover{
    transform: scale(1.02);
    transition: 1s;
}

.hexa img:not(:hover){
    transform: scale(1);
    transition: 1s;
}

/*-----------MAIN-------------------*/

.main{
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main .main1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 600px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin: 70px 0 0 0px;
    font-size: 30px;
    
}

.main2{
    display: flex;
    max-width: 500px;
    overflow: hidden;
    border-radius: 15px;
}

.main2 input{
    display: none;
}

.slide{
    display: flex;
    width: 25%;
    position: relative;
    transition: 2s;
    margin-right: 375px;
}
.slide img{
    width: 500px;
}

.hexa{
    display: none;
}

/*--------------MAIN 2 -----------------*/


.mai{
    
    background-image: url(/IMG/backgroundr\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

.sub{
    font-family: Arial, Helvetica, sans-serif;
    color: #FDF7B9;
    padding: 15px 0 0 25px;
}

.subsub{
    display: flex;
    padding: 15px 0 0 25px;
}
/*REFERENTE A VERSÃO MOBILE*/
.sub-mobile{
    display: none;
}

.sub-mobile2{
    display: none;
}
/*--------------------------*/
.span.pan{
    margin-right: 35px;
    background-image: url(./IMG/SAIA\ BRANCA.jpg);
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: 1s;
}

.span.panpan{
    background-image: url(./IMG/VESTIDO\ ROSE\ .jpg);
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    transition: 1s;
    align-items: flex-end;
}

.span button{
    border: none;
    background-color: #1F3DB9;
    margin-bottom: 30px;
    width: 100px;
    height: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.span{
    width: 300px;
    height: 450px;
    background-color: #fff;
    border-radius: 15px;
    
}



.square{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: white;
    margin-left: 200px;
    margin-bottom: 50px;
}

.square button{
    border: none;
    background-color: #E05F37;
    margin-bottom: 30px;
    width: 100px;
    height: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

.square.section{
    background-image: url(./IMG/JARDINEIRA.jpg);
    background-size: cover;
    transition: 1s;
}

.square.section1{
    background-image: url(./IMG/SAIA\ PRETA.jpg);
    background-size: cover;
    transition: 1s;
}

.square.section2{
    background-image: url(./IMG/SAIA\ CIRRE.jpg);
    background-size: cover;
    transition: 1s;
}

.square.section3{
    background-image: url(./IMG/BOLSA\ LATERAL.jpg);
    background-size: cover;
    transition: 1s;
}

/*----------------MAIN 3 ----------------*/

.plus{
    height: 500px;
    background-image: url(./IMG/background3.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plus-sub{
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.plus-sub h1{
    color: #FDF7B9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
}

.plus-sub input{
    width: 450px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid black;
    padding: 15px;
    font-weight: 13px;
    margin-top: 10px;
}



::-webkit-input-placeholder{
    color: black;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
}

#send{
    position: absolute;
    top: 150px;
    right: 50px;
    cursor: pointer;
}


.social{
    color: #FDF7B9;
    font-size: 46px;
}

.social i{
    margin: 10px 20px;
    cursor: pointer;
}

.plus-sub h3{
    color: #FDF7B9;
    margin-top: 10px;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    
}


/*--------FOOTER------------------*/

footer{
    height: 400px;
    background-image: url(./IMG/footer.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img{
    width: 60px;
    border-radius: 50%;
    margin-bottom: 20px;
}



.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FDF7B9;
}

.sub-footer ul{
    display: flex;
    list-style: none;

}

.sub-footer ul li{
    margin-right: 10px;
}

.sub-footer ul a{
    text-decoration: none;
    color: #FDF7B9;
}

footer div hr{
    width: 100%;
    border: 0.54px solid rgba(0, 0, 0, 0.514);
    margin: 10px;
}

footer div p{
    margin-top: 30px;
    font-size: 10px;
}


/*---------RESPONSIVE-------------*/

@media (max-width:1510px) {
    .section2{
        margin-right: 50px;
    }
}


@media (max-width:1370px){

    .slide{
        display: none;
    }

   .slide img{
       display: none;
   }

   .main2{
       max-width: 500px;
   }
   .main1{
        width: 600px;
        text-align: center;
   }
   .main1 h1{
        margin-left: 100px;
   }

   .hexa{
       margin-top: 20px;
      display: block;
      width: 400px;
   }

   .hexa p{
       margin-top: 10px;
       color: #fff;
       font-size: 19px;
   }

   .hexa img{
       border-radius: 20px;
       width: 350px;
       height: 350px;
    }

    .span{
        width: 350px;
        height: 400px;
        
    }

    .square{

        width: 150px;
        height: 150px;
        margin-left: 60px;
    }
}

@media (max-width:1005px){
    .container{
        height: 80vh;
    }

    .main1 h1{
        font-size: 40px;
        margin:0 auto;
    }

    .main1{
        width: 50px;
        display: flex;
        height: 200px;
    }

}

@media (max-width:925px){
    .hexa img{
        width: 290px;
        height: 290px;
    }

    .hexa{
        text-align: center;
    }

    .span img{

    }

    .span{
        margin-top: 50px;
        height: 300px;
    }

    .square{
        margin-top: 50px;
    }
}

@media (max-height:1370px){
    .container{
        height: 60vh;
    }
}

@media (max-height:830px){
    .main{
        height: 600px;
    }

}

@media (max-width:780px){
    .hexa img{
        width: 240px;
        height: 240px;
    }

    .main1 h1{
        font-size: 35px;
    }

    .hexa p{
        font-size: 16px;
        margin-right: 20px;
    }

    .span{
        width: 300px;
    }

    .square{
        margin-left:20px;
    }
}

@media (max-width: 725px){
    .span{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: white;
    margin-top: 120px;
    }

    .span button{
        border: none;
        background-color: #1F3DB9;
        margin-bottom: 30px;
        width: 100px;
        height: 20px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
}

@media (max-width: 700px){
    .icons{
        display: none;
    }

    .logo img{
        width: 40px;
        height: 40px;
    }

    .logo h1{
        font-size: 22px;
        margin-left: 5px;
        margin-top: 5px;
    }

    #outlet{
        display: none;
    }

    #bars{
        display: block;
        color: white;
        margin-right: 50px;
        font-size: 25px;
        cursor: pointer;
    }

    .main h1{
        margin-left: 5px;
    }

    
}

@media (max-width:670px){
    .main1 h1{
        font-size: 25px;
    }

    .hexa img{
        width: 200px;
        height: 200px;
    }

    .mai{
        height: 500px;
    }

    .span{
        margin-top: 100px;
    }

    .square{
        width: 120px;
        height: 120px;
    }
}


@media (max-width:605px){

    .container{
        height: 70vh;
    }
    main .main1{
        width: 400px;
    }

    .main1 h1{
        font-size: 20px;
    }
    .hexa img{
        margin-right: 25px;
    }

    .square{
        width: 100px;
        height: 100px;
    }

    .square button{
        margin-bottom: 10px;
        width: 80px;
    }
}

@media (max-width: 535px){

    .container{
        height: 60vh;
    }
    header ul{
        display: none;
    }

    header .logo{
        margin-left: 20px;
    }

    .main{
        flex-direction: column;
    }

    main .main1{
        height: 100px;
        margin-top: 0;
        width: 200px;
    }

    .main2{
        margin-bottom: 200px;
        margin-left: 20px;
    }

    .hexa{
        margin-top: 0;
        margin-bottom: 40px;
    }

    .span{
        width: 120px;
        height: 120px;
    }

    .span button{
        margin-bottom: 10px;
        width: 80px;
    }

    .plus-sub input{
        width: 400px;
    }

    #send{
        right: 70px;
    }
}

/*----RESPONSIVE MOBILE------*/


@media (max-width:490px){
    .mai{
        height: 550px;
    }
    .sub{
        text-align: center;
    }

    .subsub{
        display: none;
    }

    .sub-mobile{
        display: inline-block;
        display: flex;
    }

    .sub-mobile2{
        display: inline-block;
        display: flex;
    }

    .mobile{
        background-color: white;
        width: 130px;
        height: 200px;
        border-radius: 30px;
        margin: 10px 20px;
    }


    .plus-sub h1{
        font-size: 45px;
    }

    #send{
        top: 142px;
    }  

}


@media (max-width:400px){

    .mai{
        height: 500px;
    }

    .mobile{
        height: 160px;
    }

    .plus-sub h1{
        font-size: 37px;
    }

    .plus-sub input{
        width: 330px;
    }

    #send{
        top: 127px;
        right: 105px;
    }
    
}

@media (max-width:375px){
    .hexa{
        width: 350px;
    }
}

@media (max-width:360px){
    .plus{
        height: 400px;
    }

    .sub-footer ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer img{
        margin-bottom: 10px;
    }

    .sub-footer ul a{
        margin-top: 10px;
    }
    
}